apps/api/Api.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Project">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PropertyGroup">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="TargetFramework" type="xs:string" />
              <xs:element name="Nullable" type="xs:string" />
              <xs:element name="ImplicitUsings" type="xs:string" />
              <xs:element name="UserSecretsId" type="xs:string" />
              <xs:element name="NoWarn" type="xs:string" />
              <xs:element name="Watch" type="xs:string" />
              <xs:element name="EnforceCodeStyleInBuild" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ItemGroup">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="PackageReference" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence minOccurs="0">
                    <xs:element name="IncludeAssets" minOccurs="0" type="xs:string" />
                    <xs:element name="PrivateAssets" minOccurs="0" type="xs:string" />
                  </xs:sequence>
                  <xs:attribute name="Include" type="xs:ID" use="required" />
                  <xs:attribute name="Version" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="Sdk" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>